@page "/AddMovie"
@attribute [Authorize(Roles = "Administration")]

@inject HttpClient Http
@inject NavigationManager NavigationManager
@using BioscoopSysteemAPI.DTOs.MovieDTOs;

<PageTitle>Add Movie</PageTitle>

<h3>Add Movie</h3>

<EditForm Model="movie" OnValidSubmit="Add">

    <div class="form-group">
        <label>Name</label>
        <InputText class="form-control" @bind-Value="movie.Name" />
    </div>

    <div class="form-group">
        <label>Description</label>
        <InputText class="form-control" @bind-Value="movie.Description" />
    </div>

    <div class="form-group">
        <label>Date</label>
        <InputDate class="form-control" @bind-Value="movie.Date" />
    </div>

    <div class="form-group">
        <label>3D movie</label>
        <InputCheckbox class="form-check-input" @bind-Value="movie.Add3DMovie" />
    </div>

    <div class="form-group">
        <label>Price</label>
        <InputNumber class="form-control" @bind-Value="movie.Price" />
    </div>

    <div class="form-group">
        <label>AllowedAge</label>
        <InputNumber class="form-control" @bind-Value="_movieAge" />
    </div>
    
    <div class="form-group">
        <label>ImageUrl</label>
        <InputText class="form-control" @bind-Value="movie.ImageUrl" />
    </div>
    
    <button class="btn btn-primary mt-2" @onclick="() => movie.AllowedAge = IntToByte(_movieAge)" type="submit">Add Movie</button>
</EditForm>

@code {
    private MovieCreateDTO movie = new();

    private int _movieAge;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        movie.Date = DateTime.Now;
    }

    private byte IntToByte(int age)
    {
        byte intBytes = (byte)age;
        return intBytes;
    }

    private async Task Add()
    {
        var response = await Http.PostAsJsonAsync<MovieCreateDTO>("/api/movies",movie);
        response.EnsureSuccessStatusCode();
        NavigationManager.NavigateTo("/AdminPage");
    }
}