
<div class="socialFooter bg-dark ">

    <div class="socialContainer m-auto">
        <h3 class="socialTitle">Volg ons</h3>
        <div class="socialRow">
            <a href="https://www.twitter.com">
                <img class="socialImg" src="/img/icons8-twitter.svg" />
            </a>
        </div>
        <div class="socialRow">
            <a href="https://www.instagram.com">
                <img class="socialImg" src="/img/icons8-instagram.svg" />
            </a>
        </div>
        <div class="socialRow">
            <a href="https://www.facebook.com">
                <img class="socialImg" src="/img/icons8-facebook.svg" />
            </a>
        </div>

    </div>
</div>


@code {
}
