@page "/MovieDetails"

<PageTitle>Details</PageTitle>


<div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
    <div class="d-flex flex-column">
        <div>
            <h1>@moviename</h1>
        </div>
        <div class="imgContainer">
            <img src="img/The-Lord-Of-The-Rings-The-Fellowship-Of-The-Ring.jpg">
        </div>
    </div>
</div>

@code {
    string moviename = "Lord of the rings the fellowship of the ring";
    

}