@*
@page "/"
@inject IMovieService MovieService


@if (Films == null)
{
    <h3>There are no movies to be shown</h3>
}
else
{
    <h4>Movies</h4>

    @foreach (var movie in Films)
    {
        <div>
            <a href="/MovieDetails/@movie.MovieId">
                <div>
                    <img src="@movie.ImageUrl" />
                    <div>
                        <h5>@movie.Name</h5>
                        <h2>@movie.AllowedAge</h2>
                        <p><b>@movie.Price.ToString("C")</b></p>
                    </div>
                </div>
            </a>
        </div>
    }
}



@code {

    public IEnumerable<MovieReadDTO> Films { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Films = await MovieService.GetMovies();
    }

}
*@

