@page "/ticket"
@using BioscoopSysteemWeb.Models
@using System.Web
@using BioscoopSysteemWeb.Service
@using BioscoopSysteemWeb.Service.LanguageService;
@using Microsoft.Extensions.Localization;
@inject IJSRuntime Js
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject GetTicketInfoService GetTicketInfoService
@inject IStringLocalizer<TicketPage> Localizer
@inject BiosLanguageNotifier BiosLanguageNotifier
@implements IDisposable



<h3>@Localizer["Language"]</h3>
<LanguageSelector />


<h3 class="d-print-none">@Localizer["Payment Succeeded"]Betaling geslaagd</h3>

<p class="d-print-none">@Localizer["Your payment is succesfull. Print your ticket below."]</p>
<button type="button" class="btn btn-primary d-print-none" @onclick="PrintTicket">Print Ticket</button>

@if (reservation != null)
{
    @for (int i = 1; i <= reservation.TicketAmount; i++)
    {
        <Ticket TicketNumber="@i" TotalPrice="reservation.TotalPrice" MovieTitle="movie.Name"/>
    }
}

@code {

    public void Dispose() => BiosLanguageNotifier.UnsubscribeLanguageChange(this);

    private async Task PrintTicket()
    {
        await Js.InvokeVoidAsync("printPage");
    }
    
    [Parameter]
    public string ResId { get; set; }
    public ReservationModel reservation { get; set; }
    public MovieModel movie { get; set; }

    
    protected override void OnInitialized()
    {
        var uri = new Uri(NavigationManager.Uri);
        var queryParam = HttpUtility.ParseQueryString(uri.Query);
        ResId = queryParam["resid"];
    }
    
    protected override async Task OnInitializedAsync()
    {
        reservation = await GetReservationById();
        movie = await GetMovieById();
    }
    
    public async Task<ReservationModel> GetReservationById()
    {
        if (!string.IsNullOrEmpty(ResId)) {
            return await HttpClient.GetFromJsonAsync<ReservationModel>($"/api/reservations/{ResId}");
        }
        return null;
    }
    
    public async Task<MovieModel> GetMovieById()
    {
        return await HttpClient.GetFromJsonAsync<MovieModel>($"/api/movies/{reservation.MovieId}");
    }
}