@page "/ticket"
@using BioscoopSysteemWeb.Service
@using System.Web
@using BioscoopSysteemWeb.Models
@inject IJSRuntime Js
@inject NavigationManager NavigationManager
@inject GetTicketInfoService GetTicketInfoService


<h3 class="d-print-none">Betaling geslaagd</h3>

<p class="d-print-none">Uw betaling is geslaagd. Hieronder kunt u uw ticket printen.</p>
<button type="button" class="btn btn-primary d-print-none" @onclick="PrintTicket">Print Ticket</button>
<button type="button" class="btn btn-primary" @onclick="PayMollie">Pay with Mollie</button>

@for (int i = 1; i <= TicketAmount; i++)
{
    <Ticket TicketNumber="@i" TotalPrice="TotalPrice" PopcornAmount="PopcornAmount" PaymentMethod="@PaymentMethod"/>
}

@code {
    private async Task PrintTicket()
    {
        await Js.InvokeVoidAsync("printPage");
    }

    private async Task PayMollie()
    {
        var httpClient = new HttpClient();
        httpClient.DefaultRequestHeaders.TryAddWithoutValidation("Content-Type", "application/json");

        var mollieAmount = new PaymentRequestModel { Amount = Convert.ToDecimal(TotalPrice) };

        var response = await httpClient.PostAsJsonAsync("http://localhost:5059/api/payments/payWithMollie", mollieAmount);
        
        var paymentLink = await response.Content.ReadAsStringAsync();
        var mollieUrl = paymentLink.Trim('"');
        mollieUrl = HttpUtility.UrlDecode(mollieUrl);
        NavigationManager.NavigateTo(mollieUrl);
    }
    
    private int amount;
    private double price;
    private string paymentMethod;
    
    private int TicketAmount { get; set; }
    private double TotalPrice { get; set; }
    private int PopcornAmount { get; set; }
    private string PaymentMethod { get; set; }
    

    protected override void OnInitialized()
    {
        TicketAmount = GetTicketInfoService.GetTicketAmount();
        TotalPrice = GetTicketInfoService.GetTotalPrice();
        PopcornAmount = GetTicketInfoService.GetPopcornAmount();
        PaymentMethod = GetTicketInfoService.GetPaymentMethod();
    }

}
