@page "/ticket"
@using Microsoft.AspNetCore.WebUtilities
@using Mollie.Api.Client
@using Mollie.Api.Client.Abstract
@using Mollie.Api.Models
@using Mollie.Api.Models.Payment.Request
@using Mollie.Api.Models.Payment.Response
@using BioscoopSysteemWeb.Service
@inject IJSRuntime Js
@inject NavigationManager NavigationManager
@inject GetTicketInfoService GetTicketInfoService

@using System.Net.Http;
@using System.Net.Http.Json;
@using System.Threading.Tasks;


<h3 class="d-print-none">Betaling geslaagd</h3>

<p class="d-print-none">Uw betaling is geslaagd. Hieronder kunt u uw ticket printen.</p>
<button type="button" class="btn btn-primary d-print-none" @onclick="PrintTicket">Print Ticket</button>
<button type="button" class="btn btn-primary" @onclick="PayMollie">Pay with Mollie</button>

@for (int i = 1; i <= TicketAmount; i++)
{
    <Ticket TicketNumber="@i" TotalPrice="TotalPrice" PopcornAmount="PopcornAmount" PaymentMethod="@PaymentMethod"/>
}

@code {
    private async Task PrintTicket()
    {
        await Js.InvokeVoidAsync("printPage");
    }

    private async Task PayMollie()
    {
        var httpClient = new HttpClient();
        httpClient.DefaultRequestHeaders.Add("Authorization", "Bearer {APIKEY}");
        httpClient.DefaultRequestHeaders.Add("Access-Control-Allow-Origin","*");

        var paymentRequest = new
        {
            amount = new
            {
                currency = "EUR",
                value = "10.00"
            },
            description = "Test payment",
            redirectUrl = "https://yourwebsite.com/redirect",
            webhookUrl = "https://yourwebsite.com/webhook"
        };

        var response = await httpClient.PostAsJsonAsync("https://api.mollie.com/v2/payments", paymentRequest);
        var paymentResponse = await response.Content.ReadFromJsonAsync<dynamic>();

    }
    
    private int amount;
    private double price;
    private string paymentMethod;
    
    private int TicketAmount { get; set; }
    private double TotalPrice { get; set; }
    private int PopcornAmount { get; set; }
    private string PaymentMethod { get; set; }

    protected override void OnInitialized()
    {
        TicketAmount = GetTicketInfoService.GetTicketAmount();
        TotalPrice = GetTicketInfoService.GetTotalPrice();
        PopcornAmount = GetTicketInfoService.GetPopcornAmount();
        PaymentMethod = GetTicketInfoService.GetPaymentMethod();
    }

}
